%Image::ExifTool::UserDefined = (
    'Image::ExifTool::PNG::Main' => {
        'VarkoderKeywords' => {
            Writable => 'string',
            WriteGroup => 'PNG',
        },
        'VarkoderBaseFreqSd' => {
            Writable => 'string',
            WriteGroup => 'PNG',
        },
        'VarkoderLowQualityFlag' => {
            Writable => 'string',
            WriteGroup => 'PNG',
        },
    },
);
1; # Important for Perl to recognize the end of the module

